.square {
  background-color: red;
  height: 100px;
  width: 100px;
  transition: 1s;
}

.square:hover {
  height: 400px;
  width: 400px;
  background-color: blue;
}

.h1 {
  background-color: red;
  color: aliceblue;
}